#container {
	display : flex;
	justify-content : center;
}

#utils {
	margin-top : 100px;
	display : inline-block;
	float : left;
	margin-left : 20px;
	padding : 28px;
	max-width : 40vw;
	min-width : 40vw;
	min-height : 80vh;
	border-radius : 5px;
	vertical-align : top;
	background-color : #6272a4;
	height : 80vh;

}

#utils  h2 {
	text-align : left;
	margin-bottom : 20px;
	font-weight : bolder;
	text-decoration : underline;
}

#image-region {
	margin-top : 100px;
	display : inline-block;
	float : left;
	margin-left : 20px;
	min-width : 50vw;
	max-width : 50vw;
	min-height : 80vh;
	max-height : 80vh;
	max-height : 80vh;
	overflow : scroll;

	/* Hide scrollbar */
	-ms-overflow-style : none;
	scrollbar-width : none;

	/* Border */
	border : 1px solid gray;
	padding : 28px;
	border-radius : 5px;
}

/* Hide scrollbar on IE and Safari */
#image-region::-webkit-scrollbar {
	display : none;
}

#image {
	width : 100%;
}

#selfie-upload {
	display : none;
}

#upload-button {
	float : left;
	display : block;
}

#loading-screen {
	display : block;
	position: relative;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	margin-bottom : auto;
	height : 90%;
}

#loading-screen img {
	width : 100px;
	margin-top : auto;
	margin-bottom : auto;
	margin-top : 20%;
}

#lip-color {
	float : left;
	width : 140px;
	height : 140px;
	display : block;
}

#color-info-text {
	float : left;
	font-size : 20px;
	margin-left : 12px;
	display : block;
}

#color-info-text .header {
	float : left;
	font-weight : bold;
	text-decoration : italic;
}

#brand-info-table .header {
	font-weight : bold;
	text-decoration : underline;
	font-size : 24px;
}

#color-info-panel {
	position : relative;
	min-height : 60vh;
	max-height : 60vh;
}

#recommend-button {
	position : absolute;
	bottom : 0px;
	width : 100%;
	left : 0px
}

.gallery-dialog {
    width: 90%;    /* Occupy the 90% of the screen width */
}


.image-gallery-image {
	width : 450px;
	height : 450px;
}

#recommended-color-table {
	table-layout: fixed;
	border : none;
}

#recommended-color-table tr {
	display : block;
	width : 100%;
	border-bottom : 1px solid gray;
	margin-bottom : 5px;
}
#recommended-color-table td {
	display: inline-block;
	width : calc(100%/3);
}